.menuHeader{
  width:100%;
  background-color: #fff;
  border-bottom: 1px solid #cecece;
  box-shadow: 0 2px 2px -2px;
}
 .menuHeader ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuHeader > ul{
  display: flex;
  /* margin: 0 50px; */
}
.menuHeader > ul > li >span{
  line-height: 40px;
  padding: 0 20px;
  cursor: pointer;
  font-size: 14px;
} 
.menuHeader > ul > li >span:hover{
  color: #2874f0;
}
.menuHeader > ul > li > ul > li{
  margin:0 20px;
  min-width: 150px;
  float: left;
}
/* .menuHeader > ul li {
  margin: 0 50px;
} */
.menuHeader > ul > li > ul{
  position: absolute;
  background-color: #fff;
  border: 1px solid #cecece;
  left: 0;
  right: 0;
  display: none;
  border: 1px solid #cecece;
  z-index: 10;
}
.menuHeader > ul > li:hover ul{
  display: block;
}
.menuHeader > ul > li > ul > li > a{
  font-weight: bold;
  display: block;
}
.menuHeader > ul > li > ul > li a{
  padding: 3px 0;
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #707070;
} 
.title_child{
  cursor: pointer;
}